//Gradiente
#gradient {
    background-image: linear-gradient(
        #da6151 20%,
        #d73b25 20%,
        #d73b25 40%,
        #c71b25 40%,
        #c71b25 60%,
        #961a39 60%,
        #961a39 80%,
        #601035 80%
    );
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 10rem;
}

//page
.persona {
    padding: 2rem;
    hr {
        border: 1px solid #fff;
        width: 7rem;
    }
    .persona-title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #fff;
    }
    .persona-description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #fff;
    }
}