//Gradiente
#gradient {
    //azul
    background-image: linear-gradient(
        #46dac9 20%,
        #25c4d7 20%,
        #2592d7 40%,
        #1b47c7 40%,
        #1d1bc7 60%,
        #401a96 60%,
        #1a3896 80%,
        #2f1060 80%
    );

    // vermelho:
    //background-image: linear-gradient(
    //     #da6151 20%,
    //     #d73b25 20%,
    //     #d73b25 40%,
    //     #c71b25 40%,
    //     #c71b25 60%,
    //     #961a39 60%,
    //     #961a39 80%,
    //     #601035 80%
    // );
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: 10rem;
}

//page
.persona {
    padding: 2rem 0;
    .persona-title {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 25px;
        color: #ffffff;
    }
    hr {
        width: 5em;
        border: 1px solid #065baa;
    }
    .persona-description {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #fff;
    }
}
