.card-cart{
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    border-bottom: 1px solid;
    max-width: 80%;
    background-color: white;

    h5{
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #333333;
    }

    p{
        font-style: normal;
        font-weight: normal;
        font-size: .75rem;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #555555;
    }

    .card-price{
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #333333;
    }
    .card-trash{
        color: red;
    }
}