.card {
  font-family: "Oswald", sans-serif;
  max-width: 10em;
  background: transparent;
  border: 1px solid #383838;
  box-sizing: border-box;
  border-radius: 10px;

  .card-body {
    .card-title {
      font-style: normal;
      font-weight: 800;
      font-size: .95em;
      line-height: 16px;
      color: #ffffff;
      background: linear-gradient(
        to right,
        lightblue,
        lightblue 50%,
        royalblue 50%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;

      &:hover {
        background-position: 0 100%;
      }
    }

    .card-text {
      font-style: normal;
      font-weight: 600;
      font-size: 0.70em;
      line-height: 14px;
      color: #c4c4c4;
    }

    .card-cat .consol {
      padding: 0 0.2rem;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #c4c4c4;
      border: 1px solid #383838;
      box-sizing: border-box;
      border-radius: 5px;
    }

    .card-btn {
      button {
        width: 100%;
        background: #0072ce;
        box-shadow: 0px 0px 15px #0072ce;
        border-radius: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75em;
        line-height: 16px;
        color: #ffffff;
        transition: all 0.25s;

        &:active {
          animation: changeColor 1s infinite;
        }

        &:hover {
          transform: scale(1.025);
          
        }
      }
    }
  }
}
@keyframes changeColor {
  from {
    background: aqua;
  }
  to {
    background: fuchsia;
  }
}
