.carousel-title{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 25px;
    color: #FFFFFF;    
    hr{
        width: 5em;
        border: 1px solid #065BAA;
    }
}

// #carouselCard{
//     .carousel-control-prev-icon{
//         height: 100%;
//         border-radius: .25rem;
//         transition: .25s ease-in-out;
//     }:hover{
//         .carousel-control-prev-icon{
//             background-color: #065BAA;
//         }
//     }
        
//     .carousel-control-next-icon{
//         height: 100%;
//         border-radius: .25rem;
//         transition: .25s ease-in-out;
//     }:hover{
//         .carousel-control-next-icon{
//             background-color: #065BAA;
//         }
//     }
// }