.cart-home{


        background-color: white;
        height: 90vh;

        .cart-home-text{

            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5em;
            line-height: 68px;
            color: #000000;

        }

}

