.collections-tile{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 25px;
    color: #FFFFFF;    
    hr{
        width: 5em;
        border: 1px solid #065BAA;
    }
}

.collections {
    img{
        max-height: 60%;
    }
}