.games {
    .games-filter{
        .btn {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 1em;
            line-height: 1em;
            color: #FFFFFF !important;
        }
    }
}