.games {
    min-height: 89.5vh;
    background: #1F1F1F;
    .games-filter{
        .btn {
            font-family: 'Oswald', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: .75em;
            line-height: 1em;
            color: #c4c4c4 !important;
            box-shadow: none;
            border-radius: .75em;
        }
    }
    .games-filter-span{
        border: solid 1px #8BD8F4;
        border-radius: .75em;
    }
    .active{
        background-color: #414B72;
    }

}