nav {
    font-family: 'Oswald', sans-serif;
    color: white !important;
    background: #000000;
    .navbar-brand{
       color: white !important;
    }
    .offcanvas-body{
        background: #000000;
    }
    .nav-link{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF !important;
        &:hover{
            box-shadow: 0px 1px;
            color: #EB5757 !important;
        }
    }
    .link-secondary{
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFFFFF !important;
        &:hover{
            color: #EB5757 !important;
        }
    }
    .cart-icon{
        background-image: url(../imgs/bag.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: .5em;


        .cart-number{
            font-size: .5em;
            color: #FFFFFF !important;
            padding: 0 .5em;
            border-radius: 25%;
            background-color: #EB5757 !important;
        }
    }

}