body {
    font-family: 'Taviraj', serif;
}
nav {
   

    .firstname{
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 4.5rem;
        letter-spacing: 0.02em;
        color: #D84727;
    }
    .lastname{
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #F1DDC9;
    }
}