nav {
    font-family: 'Open Sans', sans-serif;

    background: white;
    border: 1px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
    margin: .5rem;
    .container-fluid{
        box-sizing: border-box;
        box-shadow: 0rem 0rem .75rem 1rem;
        color: white;
    }
    .nav-link{
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #383838;
        &:hover{
            color: #0072CE !important;
        }
    }
    .link-secondary{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #383838;

        i{
            font-size: 1.5rem;
        }
        &:hover{
            color: #0072CE;
        }
    }
}
.breadcrumb{
    background-color: transparent;
    border: none;
}