.key-features-title{

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;

}
.key-features-text{

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: #FFFFFF;

}