.product {
    font-family: 'Taviraj', serif;
    
    .product-img img{
        height: 100%;
    }
    
    hr{
        
        border-top: 3px solid rgba(255, 255, 255, 0.233);
    }
    .product-title{
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 80px;
        letter-spacing: 0.02em;
        color: #333333;
    }

    .precoDE{
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #777777;
    }

    .precoPOR{
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 41px;
        letter-spacing: 0.02em;
        color: #333333;
    }
    a{
        background-color: #D84727;
    }
}
.details{

    .detail-title{
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #D84727;}

    .detail-text{
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: #555555;
    }
}
